.add-movie-layout {
    width: 40%;
    margin: 4rem auto;
  }
  
  .add-fieldset {
    padding: 1rem;
  }
  
  .add-fieldset form {
    display: flex;
    flex-direction: column;
  }
  
  input, textarea {
    margin-top: 0.4rem;
    background-color: #18181b;
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
  }
  
  .btn-add {
    background-color: #22d3ee;
    font-size: 1rem;
    padding: 1rem 2rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
  }